<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Flickity CSS -->
    <th:block th:replace="~{fragments :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:replace="~{fragments :: page-nav}"></header>
<div class="container bg-light mt-1">
    <p th:unless="${users} and ${users.size()}" class="">No Users!</p>
    <div class="d-flex justify-content-end">
        <p th:text="|User Count: ${users.size()}|" class="px-2 my-0 align-self-center"></p>
        <div id="addUser">
            <a href="/admin/users/create">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-center w-100 px-2">
        <table id="userTable" class="display compact striped +" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${users}">
                <tr name="userRow">
                    <td th:text="${user.getId()}"></td>
                    <td><a th:text="${user.getUsername()}" th:href="'/profiles/'+${user.getUsername()}"></a></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td>
                        <a th:href="'/admin/users/update/'+${user.getId()}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="16" width="16">
                                <path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/>
                            </svg>
                        </a>
                        <a th:href="'/admin/users/delete/'+${user.getId()}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="16" width="16">
                                <path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.min.css" rel="stylesheet" crossorigin="anonymous">
    <script>
        window.addEventListener("load", function() {
            let table = new DataTable('#userTable');
            document.querySelectorAll('[name="userRow"]').forEach(row => {
                row.addEventListener("click",(event)=>{
                    let selectedUser = event.target.closest('tr');
                    console.log(selectedUser);
                });
            });
        });
    </script>
    <style>
        #addUser{
            height: 2rem !important;
            width: 2rem !important;
            padding-left: 0.5rem !important;
            padding-right: 0.5rem !important;
            display: flex !important;
            align-items: center !important;
        }
        #addUser:hover{
            cursor:pointer !important;
            border:2px solid black !important;
            border-radius: 0.25rem !important;
            svg{
                transform: scale(1.5);
            }
        }
        #userTable_wrapper{
            width:100%;
        }
    </style>

</html>