<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="bg-light">

<nav th:replace="~{fragments :: page-nav}"></nav>
<div class="container body-content pt-1">
    <div class="row">
        <div class="col-md-4">
            <div class="border rounded-circle overflow-hidden">
                <img th:src="${user.getProfile().getImage()}" class="w-100">
            </div>
            <div class="d-flex justify-content-center">
                <a href="/profile/reviews" th:text="reviews"></a>
            </div>
            <div class="pt-3 border-bottom">
                <h6 th:text="${user.getProfile().getName()} + '\'s Watchlist' "></h6>
                <div class="movie-reviews" id="reviews-display">

                    <div th:each="review : ${reviews}">
                        <div class="review">
                            <a th:href="@{/movie-details/{id}(id=${review.movieId})}" th:text="${review.movieTitle}"></a>
                            <p>
                                <span th:each="star : ${#numbers.sequence(1, review.rating)}" class="star-filled">&#9733;</span>
                            </p>
                            <p th:text="${review.content}"></p>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2 th:text="${user.getProfile().getName()} + '!'" class="border-bottom"></h2>
            <p th:text="${user.getProfile().getBio()}"></p>
            <div>Favorite Movies? Maybe like from own watchlist or ratings</div>
            <div class="badges-section">
                <h3>Your Badges</h3>
                <div th:if="${badges.isEmpty()}">
                    <p>No badges yet. Start earning by participating!</p>
                </div>
                <div class="badge" th:each="badge : ${badges}">
                    <p th:text="${badge.badgeName}"></p>
                </div>
            </div>


            <!-- User Reviews Section -->
        </div>
    </div>
</div>
</body>
</html>
