<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineBuddy | Watch List</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>

<div th:replace="~{fragments :: page-nav}"></div>

<div class="container">
    <h2>Create A Watch List</h2>
<form th:action="@{/watchlist/create}" method="post" style="text-align: center;">
    <label for="name">Name your WatchList:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>