<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="bg-light">

<nav th:replace="~{fragments :: page-nav}"></nav>
<div class="container body-content pt-1">
    <h2>Profile not found.</h2>
    <p>No profile available for this username. This user could be in private mode or may not exist.</p>
</div>
</body>
</html>