<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Flickity CSS -->
    <th:block th:replace="~{fragments :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="bg-light">

<nav th:replace="~{fragments :: page-nav}"></nav>
<div class="container body-content pt-1">
    <h2>Update Profile Information</h2>
    <p style="text-align: end;"><a href="/profile/delete" onclick="return confirm('Delete Account? This can not be undone.');">Delete Account</a></p>
    <form th:object="${profile}" method="post" style="max-width:600px;">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <div class="form-watchParty">
            <label for="name">Name:</label>
            <input class="form-control" type="text" th:field="*{name}" id="name" />
        </div>
        <div class="form-watchParty">
            <label for="bio">Bio:</label>
            <textarea class="form-control" th:field="*{bio}" id="bio"></textarea>
        </div>
        <div class="form-watchParty">
            <label for="image">Image:</label>
            <input class="form-control" type="text" th:field="*{image}" id="image" />
        </div>
        <div class="form-watchParty">
            <label for="hidden">Private Profile:</label>
            <input type="checkbox" th:field="*{hidden}" id="hidden" checked="${profile.getHidden() ? 'checked' : ''}" />
        </div>
        <button type="submit">Save Profile</button>
    </form>

</div>
</body>
</html>