.watch-party-checkbox{
    padding: 0;
}
.watch-party-checkbox label{
 padding: 0.5rem;
}
.watch-party-checkbox input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);  /* Hides the element visually */
    overflow: hidden;
}
.watch-party-checkbox input[type="checkbox"]:checked + label {
    border: 2px solid black;
    border-radius: 4px;
}