form {
    margin:0;
}
.w-60 {
  width: 60%;
}
.watchparty-list-thumb{
    height:200px;
}
.selectableMember{
    cursor: pointer;
}
.selectableMember:hover{
    border: 2px solid green;
    border-radius: 8px;
}
.cursor-pointer{
    cursor: pointer;
}
.memberSearch{
    min-height: 10vh;
    max-height: 30vh;
    overflow-y: auto;
}