/* General container styles */
.container {
    margin-top: 20px;
}

/* Masonry layout container */
.masonry-container {
    column-count: 3; /* Number of columns */
    column-gap: 15px; /* Spacing between columns */
}

.movie-card {
    display: inline-block; /* Prevent breaking between columns */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    break-inside: avoid; /* Prevent breaking within columns */
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

/* Movie info container (for title and description) */
.movie-info {
    padding: 15px;
}

.movie-info h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.movie-info p {
    color: #666;
    font-size: 0.9rem;
}

/* Link styling for the movie card */
.movie-card-link {
    text-decoration: none;
    color: inherit;
}

.movie-card-link:hover {
    text-decoration: none;
    color: inherit;
}

/* Styles for Results title */
.results-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    text-align: left;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .masonry-container {
        column-count: 1; /* One column for smaller screens */
    }

    .movie-card {
        margin-bottom: 20px;
    }
}

.cine-search-button {
  float: right;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
