.vote-radio{
    padding: 0;
}
.vote-radio label{
 padding: 0.5rem;
}
.vote-radio input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);  /* Hides the element visually */
    overflow: hidden;
}
.vote-radio input[type="radio"]:checked + label {
    border: 2px solid black;
    border-radius: 4px;
}