/* General styles */
html {
    background-color: #add8e6; /* Light blue background */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    padding: 40px;
}

/* Title card styling */
.title-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.title-card h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
}

/* Create button styling */
.create-button {
    background-color: #ffad33;
    color: #333;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    float: right;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.create-button:hover {
    background-color: #ff9900;
}

/* Watchlist container */
.watchlist-container {
    margin-top: 40px;
}

/* Watchlist grid */
.watchlist-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Watchlist cards */
.watchlist-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    width: 250px;
}

.watchlist-card:hover {
    transform: scale(1.05);
}

.watchlist-card h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 0;
}

/* Empty message */
.empty-message p {
    font-size: 1.2rem;
    text-align: center;
    color: #333;
}

.movie-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

/* Movie info container (for title and description) */
.movie-info {
    padding: 15px;
}

.movie-info h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.movie-info p {
    color: #666;
    font-size: 0.9rem;
}

/* Link styling for the movie card */
.movie-card-link {
    text-decoration: none;
    color: inherit;
}

.movie-card-link:hover {
    text-decoration: none;
    color: inherit;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .movie-card {
        flex-direction: column; /* Stack poster and text vertically */
        align-items: center;
    }

    .movie-card img {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 10px; /* Add space below poster */
    }

    .movie-card h3 {
        text-align: center; /* Center align title */
    }

    .movie-card p {
        text-align: center; /* Center align description */
    }


