
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title th:text="${movie.title}">Movie Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Flickity CSS -->
    <th:block th:replace="~{fragments :: head}"></th:block>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" th:href="@{/css/movie-details-styles.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/styles.css}">-->
</head>
<body>
<div th:replace="~{fragments :: page-nav}"></div>
<div class="container">

    <div class="left-section">
        <h2 th:text="${movie.title}"></h2>

        <div class="button-container">
            <a class="btn btn-primary" href="#reviews-display">See Reviews</a>
            <a sec:authorize="isAuthenticated()" th:href="'/watchlist/add/' + ${movie.id}" class="btn btn-success">Add to WatchList</a>
            <a sec:authorize="isAuthenticated()" th:href="'/watchparty/add/' + ${movie.id}" class="btn btn-warning">Add to WatchParty</a>
        </div>
        <img th:src="@{${movie.posterPath.endsWith('null') || movie.posterPath == null ? '/images/poster-placeholder-cinebuddy.png' : 'https://image.tmdb.org/t/p/w500' + movie.posterPath}}" alt="Movie Poster"/>

        <p th:text="${movie.overview}"></p>

        <p class="movie-stats">Average Rating: <span th:text="${movie.voteAverage}"></span></p>
        <p class="movie-stats">Release Date: <span th:text="${movie.releaseDate}"></span></p>
        <p class="movie-stats">Genres: <span th:text="${movie.formattedGenres}"></span></p>
        <p class="movie-stats">Budget: $<span th:text="${movie.budget}"></span></p>
        <p class="movie-stats">Revenue: $<span th:text="${movie.revenue}"></span></p>
        <p class="movie-stats">Runtime: <span th:text="${movie.runtime}"></span> minutes</p>
    </div>

    <div class="right-section">
        <h3>Rate and Review</h3>
        <div th:if="${#authentication.principal != null}">
            <form action="/submit-review" method="POST">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <input type="hidden" name="movieId" th:value="${movie.id}" />
                <!-- Replace the existing rating input section in the form -->
                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <div>
                        <div class="container__items">
                            <input type="radio" name="rating" id="st5" value="5" required>
                            <label for="st5">
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                                <div class="label-description" data-content="5 Stars"></div>
                            </label>
                            <input type="radio" name="rating" id="st4" value="4">
                            <label for="st4">
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                                <div class="label-description" data-content="4 Stars"></div>
                            </label>
                            <input type="radio" name="rating" id="st3" value="3">
                            <label for="st3">
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                                <div class="label-description" data-content="3 Stars"></div>
                            </label>
                            <input type="radio" name="rating" id="st2" value="2">
                            <label for="st2">
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                                <div class="label-description" data-content="2 Stars"></div>
                            </label>
                            <input type="radio" name="rating" id="st1" value="1">
                            <label for="st1">
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                                <div class="label-description" data-content="1 Star"></div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="review">Your Review:</label>
                    <textarea id="review" name="review" placeholder="Write your review here..." required></textarea>
                </div>
                <div class="form-button">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="recommended-actors">
    <h3>Actors</h3>
    <div th:if="${actors.isEmpty()}">
        <p>No info here yet. Come back soon!</p>
    </div>
    <div th:if="${!actors.isEmpty()}" class="gallery js-flickity" data-flickity-options='{ "wrapAround": true, "contain": true, "pageDots": false }'>
        <div class="gallery-cell" th:each="actor : ${actors}">
            <a th:href="@{https://www.themoviedb.org/person/{id}(id=${actor.id})}">
                <div class="actor-img">
                    <img th:src="${actor.profilePath != null ? 'https://image.tmdb.org/t/p/w500' + actor.profilePath :
                                '/images/blank-profile-picture-973460_1280.webp'}"
                         th:alt="${actor.name}"/>
                </div>
                <div class="caption">
                    <h5 th:text="${actor.name}"></h5>
                    <h6 th:text="${actor.character}"></h6>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="recommended-movies">
    <h3>Recommended Movies</h3>
    <div th:if="${similarMovies.isEmpty()}">
        <p>No info here yet. Come back soon!</p>
    </div>
    <div th:if="${!similarMovies.isEmpty()}" class="gallery js-flickity" data-flickity-options='{ "wrapAround": true, "contain": true, "pageDots": false }'>
        <div class="gallery-cell" th:each="movie : ${similarMovies}">
            <a th:href="@{/movie-details/{id}(id=${movie.id})}">
                <img th:src="@{${movie.posterPath.endsWith('null') || movie.posterPath == null ? '/images/poster-placeholder-cinebuddy.png' : 'https://image.tmdb.org/t/p/w500' + movie.posterPath}}" alt="Movie Poster"/>

                <div class="caption">
                    <h5 th:text="${movie.title}"></h5>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Reviews Section -->

<div class="movie-reviews" id="reviews-display">
    <h3>User Reviews</h3>
    <div class="mb-4">
        <form th:action="@{/movie-details/{id}(id=${movie.id})}" method="GET" onsubmit="scrollToReviews()" class="padded-form">
            <input type="hidden" name="id" th:value="${movie.id}"/>
            <label for="sortBy">Sort By:</label>
            <select id="sortBy" name="sortBy" class="form-select" onchange="this.form.submit()">
                <option value="rating" th:selected="${sortBy == 'rating'}">Rating - Highest to Lowest</option>
                <option value="date" th:selected="${sortBy == 'date'}">Date Created - Newest to Oldest</option>
            </select>
        </form>
    </div>
    <div th:if="${reviews.isEmpty()}">
        <p>No reviews have been left for this movie.</p>
    </div>
<!--    <div class="mb-4">-->
<!--        <form th:action="@{/movie-details/{movie.id}}" method="GET">-->
<!--            <input type="hidden" name="movieId" th:value="${movie.id}"/>-->
<!--            <label for="sortBy">Sort By:</label>-->
<!--            <select id="sortBy" name="sortBy" class="form-select" onchange="this.form.submit()">-->
<!--                <option value="rating" th:selected="${sortBy == 'rating'}">Rating - Highest to Lowest</option>-->
<!--                <option value="date" th:selected="${sortBy == 'date'}">Date Created - Newest to Oldest</option>-->
<!--            </select>-->
<!--        </form>-->
<!--    </div>-->

    <div th:each="review : ${reviews}">
        <div class="review">
            <p><strong th:text="${review.profile.name}"></strong> | Rating: <span th:each="star : ${#numbers.sequence(1, review.rating)}" class="star-filled">&#9733;</span></p>
            <p th:text="${review.content}"></p>
            <small th:text="${review.formattedDateCreated}"></small>
            <hr/>
        </div>
    </div>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const actorImages = document.querySelectorAll(".actor-img img");

        actorImages.forEach(img => {
            img.onerror = () => {
                img.src = "/images/profile_picture_cinebuddy.png";
            };

            if (img.src.endsWith("null") || img.src.endsWith("undefined")) {
                img.src = "/images/profile_picture_cinebuddy.png";
            }
        });
    });
</script>

<script>
    function scrollToReviews() {
       window.location.hash = "reviews-display";
       document.getElementById("reviews-display").scrollIntoView({behavior: "smooth"});
   }

</script>

</body>
</html>
