<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineBuddy | Watch Party</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>

<div th:replace="~{fragments :: page-nav}"></div>

<div class="container mt-2">
    <h2>Watch Parties</h2>
    <form method="POST">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

        <ul class="list-group">
            <th:block th:each="watchparty : ${user.getProfile().getHostedGroups()}">
                <li class="list-group-item d-flex justify-content-between align-items-center watch-party-checkbox" >
                    <input type="checkbox" name="watchpartyOption" th:id="'watchpartyOption-' + ${watchparty.id}" th:value="${watchparty.id}" aria-hidden="false">
                    <label class="flex-fill" th:for="'watchpartyOption-' + ${watchparty.id}" th:text="'Watch Party: ' + ${watchparty.name}"></label>
                </li>
            </th:block>

            <th:block th:each="watchparty : ${user.getProfile().getJoinedGroups()}">
                <li class="list-group-item d-flex justify-content-between align-items-center watch-party-checkbox" >
                    <input type="checkbox" name="watchpartyOption" th:id="'watchpartyOption-' + ${watchparty.id}" th:value="${watchparty.id}" aria-hidden="false">
                    <label class="flex-fill" th:for="'watchpartyOption-' + ${watchparty.id}" th:text="'Watch Party: ' + ${watchparty.name}"></label>
                </li>
            </th:block>
        </ul>

        <input type="submit" value="Submit Movie to Watch Parties" />
    </form>
</div>
</body>
</html>