<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/watchparty/members.js}" defer></script>
</head>
<body>
<header th:replace="~{fragments :: page-nav}"></header>
<main class="container">
    <h1>Create a Watch Party!</h1>
    <form method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

        <div class="form-group">
            <label th:for="name">Watch Party Name</label>
            <input class="form-control" th:field="${watchparty.name}" />
            <span th:errors="${watchparty.name}" class="error"></span>
        </div>
        <div class="form-group pt-2">
            <label for="searchMembers">Search Members</label>
            <input type="text" name="searchMembers" id="searchMembers">
        </div>
        <div class="form-group">
            <label for="members">Edit Members</label>
            <select id="members" name="members" class="form-control" multiple="multiple" th:field="*{watchparty.members}">

            </select>
        </div>

        <input type="submit" value="Create Watch Party" />
    </form>
    <a href="/watchparty">Return to Watch Parties</a>
</main>
</body>
</html>