<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineBuddy | Watch Party</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/watch-party-votes.css}">
</head>
<body>

<div th:replace="~{fragments :: page-nav}"></div>

<div class="container mt-1">

    <div class="d-flex justify-content-center">
        <h2 th:text="${watchparty.name}"></h2>
    </div>
    <div class="d-flex justify-content-end">
        <a
                th:if="${watchparty.leader.equals(profile)}"
                onclick="return confirm('Delete Watch Party? This can not be undone.');"
                class="btn btn-danger btn-sm"
                th:href="'/watchparty/' + ${watchPartyId} + '/delete'">Delete Watch Party
        </a>
        <a
                th:unless="${watchparty.leader.equals(profile)}"
                onclick="return confirm('Leave Watch Party?');"
                class="btn btn-danger btn-sm"
                th:href="'/watchparty/' + ${watchPartyId} + '/leave'">Leave Watch Party
        </a>
    </div>

    <div class="row">
        <div class="col-md-3 min-vh-50">
            <div class="d-flex justify-content-center align-items-center mt-2">
                <h3>Members</h3>
                <a class="btn btn-primary btn-sm ms-2" href="#">Add Member</a>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" th:each="member : ${watchparty.members}">
                    <div th:text="${member.name}"></div>
                    <form method="POST" th:action="'/watchparty/' + ${watchPartyId} + '/members/remove'" th:if="${watchparty.leader.equals(profile)}">
                        <input type="hidden" name="profileId" th:value="${member.id}">
                        <input class="btn btn-danger btn-sm" type="submit" value="Delete Member" />
                    </form>
                </li>
            </ul>
        </div>
        <div class="col-md-9 min-vh-50">
            <div class="d-flex justify-content-center align-items-center mt-2">
                <h3>Movies</h3>
                <a class="btn btn-primary btn-sm ms-2" href="#">Add Movie</a>
            </div>

            <ul class="list-group">
                <th:block th:if="${movies?.size() > 0}" th:each="movie : ${movies}">
                    <li class="list-group-item d-flex align-items-center">
                        <img th:src="@{'https://image.tmdb.org/t/p/w500' + ${movie.posterPath}}" alt="Poster" class="watchparty-list-thumb">
                        <div class="w-50 ms-4">
                            <h4 th:text="${movie.title}"></h4>
                            <p th:text="${#strings.abbreviate(movie.overview, 300)}"></p>
                        </div>
                        <div class="d-flex flex-column ms-auto gap-1">
                            <a class="btn btn-primary btn-sm" th:href="@{/movie-details/{id}(id=${movie.id})}">Details</a>
                            <a class="btn btn-success btn-sm" href="#">Submit Vote</a><!--Ready for official route-->
                            <a class="btn btn-warning btn-sm" href="#">Remove Vote</a><!--Ready for official route-->
                            <a class="btn btn-danger btn-sm"
                               th:href="'/watchparty/' + ${watchPartyId} + '/movies/remove/' + ${movie.id}">
                                Delete Movie
                            </a>
                        </div>
                    </li>
                </th:block>
                <th:block th:unless="${movies?.size() > 0}">
                    <li class="list-group-item d-flex align-items-center">
                        List Empty - Add Movies
                    </li>
                </th:block>
            </ul>
        </div>
    </div>

</div>
</body>
</html>