<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineBuddy | Watch Party</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/watch-party-votes.css}">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/search-results-styles.css}">
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
</head>
<body>

<div th:replace="~{fragments :: page-nav}"></div>

<div class="container mt-2">

    <div class="d-flex justify-content-center">
        <h2 th:text="${watchparty.name}"></h2>
    </div>
    <div class="d-flex justify-content-end gap-2">
        <form method="POST" th:action="'/votes/' + ${watchPartyId} + '/finalize'"
              th:if="${watchparty.leader.equals(profile) and watchparty.movieChoice == null and votes.size() > 0}">
            <input class="btn btn-success btn-sm w-100" type="submit" value="Finalize Votes" />
        </form>
        <form method="POST" th:action="'/watchparty/' + ${watchPartyId} + '/vote-reset'"
              th:if="${watchparty.leader.equals(profile) and watchparty.movieChoice != null}">
            <input class="btn btn-warning btn-sm w-100" onclick="return confirm('Reset Votes?');" type="submit" value="Reset Votes" />
        </form>
        <a
                th:if="${watchparty.leader.equals(profile)}"
                onclick="return confirm('Delete Watch Party? This can not be undone.');"
                class="btn btn-danger btn-sm"
                th:href="'/watchparty/' + ${watchPartyId} + '/delete'">Delete Watch Party
        </a>
        <a
                th:unless="${watchparty.leader.equals(profile)}"
                onclick="return confirm('Leave Watch Party?');"
                class="btn btn-danger btn-sm"
                th:href="'/watchparty/' + ${watchPartyId} + '/leave'">Leave Watch Party
        </a>
    </div>

    <div class="row">
        <th:block th:if="${watchparty.movieChoice == null}">
        <div class="col-md-8 min-vh-50 order-md-2">
            <div class="d-flex justify-content-center align-items-center mt-2">
                <h3>Movies</h3>
                <a class="btn btn-primary btn-sm ms-2" href="/search-menu">Add Movie</a>
            </div>

            <ul class="list-group">
                <th:block th:if="${movies?.size() > 0}" th:each="movie : ${movies}">
                    <li class="list-group-item d-flex align-items-center">
                        <img th:src="@{'https://image.tmdb.org/t/p/w500' + ${movie.posterPath}}" alt="Poster" class="watchparty-list-thumb">
                        <div class="w-50 ms-4">
                            <h4 th:text="${movie.title}"></h4>
                            <p th:text="${#strings.abbreviate(movie.overview, 300)}"></p>
                        </div>
                        <div class="d-flex flex-column ms-auto gap-1">
                            <a class="btn btn-primary btn-sm" th:href="@{/movie-details/{id}(id=${movie.id})}">Details</a>

                            <form method="POST" th:action="'/votes/' + ${watchPartyId} + '/vote'"
                                  th:if="${profile.movieVotedForInWatchParty(watchparty).equals('-1')}">
                                <input type="hidden" name="movieId" th:value="${movie.id}" />
                                <input class="btn btn-success btn-sm w-100" type="submit" value="Submit Vote" />
                            </form>
                            <form method="POST" th:action="'/votes/' + ${watchPartyId} + '/retract'"
                                  th:if="${profile.movieVotedForInWatchParty(watchparty).equals(movie.id)}">
                                <input type="hidden" name="movieId" th:value="${movie.id}" />
                                <input class="btn btn-warning btn-sm w-100" type="submit" value="Retract Vote" />
                            </form>
                            <a class="btn btn-danger btn-sm" th:if="${watchparty.leader.equals(profile)}"
                               th:href="'/watchparty/' + ${watchPartyId} + '/movies/remove/' + ${movie.id}">
                                Delete Movie
                            </a>
                        </div>
                    </li>
                </th:block>
                <th:block th:unless="${movies?.size() > 0}">
                    <li class="list-group-item d-flex align-items-center">
                        List Empty - Add Movies
                    </li>
                </th:block>
            </ul>
        </div>
        </th:block>
        <th:block th:unless="${watchparty.movieChoice == null}">
            <div class="col-md-8 min-vh-50 order-md-2 d-flex flex-wrap justify-content-center mt-2">
                <h3 class="w-100 text-center">Winner!</h3>
                <img th:src="@{'https://image.tmdb.org/t/p/w500' + ${movieChoice.posterPath}}" alt="Poster" class="p-2 bg-light">
            </div>
        </th:block>


        <div class="col-md-4 min-vh-50 order-md-1">
            <div class="d-flex justify-content-center align-items-center mt-2">
                <h3>Members</h3>
                <a class="btn btn-primary btn-sm ms-2"
                   th:href="'/watchparty/'+${watchparty.id}+'/update'"
                   th:if="${watchparty.leader.equals(profile)}">Add Member</a>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" th:each="member : ${watchparty.members}">
                    <div th:text="${member.name}"></div>
                    <form method="POST" th:action="'/watchparty/' + ${watchPartyId} + '/members/remove'" th:if="${watchparty.leader.equals(profile)}">
                        <input type="hidden" name="profileId" th:value="${member.id}">
                        <input class="btn btn-danger btn-sm" type="submit" value="Delete Member" />
                    </form>
                </li>
            </ul>
            <div>
                <div th:text="'Total votes: ' + ${votes?.size()}"></div>
            </div>
        </div>

    </div>

    <div class="mt-4" th:if="${topRatedMovies?.size() > 0}">
        <h3 th:text="${watchparty.name} + ' Members Top Rated Movies'"></h3>
        <div class="row mt-2 py-2" data-masonry='{"percentPosition": true }'>
            <div class="col-md-4 mb-4" th:each="movie : ${topRatedMovies}">
                <a th:href="@{/movie-details/{id}(id=${movie.id})}" class="movie-card-link">
                    <div class="movie-card">
                        <img th:src="@{'https://image.tmdb.org/t/p/w500' + ${movie.posterPath}}" alt="Poster" class="img-thumbnail">
                        <div class="movie-info">
                            <h3 th:text="${movie.title}"></h3>
                            <p th:text="${movie.overview}"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>