<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineBuddy | Watch Party</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/watch-party-votes.css}">
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
</head>
<body>

<div th:replace="~{fragments :: page-nav}"></div>

<div class="container mt-1">
    <div class="d-flex justify-content-center">
        <h2 th:text="${watchparty.name}"></h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Members</h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" th:each="member : ${watchparty.members}" th:text="${member.name}"></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="d-flex justify-content-center align-items-center mt-2">
                <h3>Movies</h3>
                <a class="btn btn-primary btn-sm ms-2" href="#">Add Movie</a>
            </div>

            <ul class="list-group">
                <th:block th:each="movie : ${movies}">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img th:src="@{'https://image.tmdb.org/t/p/w500' + ${movie.posterPath}}" alt="Poster" class="watchparty-list-thumb">
                        <div class="w-50">
                            <h4 th:text="${movie.title}"></h4>
                            <p th:text="${#strings.abbreviate(movie.overview, 300)}"></p>
                        </div>
                        <div class="d-flex flex-column">
                            <a class="btn btn-primary btn-sm" th:href="@{/movie-details/{id}(id=${movie.id})}">Details</a>
                            <a class="btn btn-success btn-sm" href="#">Submit Vote</a><!--Ready for official route-->
                            <a class="btn btn-warning btn-sm" href="#">Remove Vote</a><!--Ready for official route-->
                            <a class="btn btn-danger btn-sm" href="#">Delete Movie</a><!--Ready for official route-->
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>

</div>
</body>
</html>