<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/watchparty/members.js}" defer></script>
    <script th:src="@{/js/watchparty/movies.js}" defer></script>
</head>
<body>
<header th:replace="~{fragments :: page-nav}"></header>
<main class="container">
    <h1>Update Watch Party!</h1>
    <form method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

        <th:block th:if="${user.profile == watchparty.leader}">
            <div class="form-watchParty">
                <label th:for="name">Watch Party Name</label>
                <input class="form-control" th:field="${watchparty.name}" />
                <span th:errors="${watchparty.name}" class="error"></span>
            </div>
            <div class="form-watchParty pt-2">
                <label for="searchMembers">Search Members</label>
                <input type="text" name="searchMembers" id="searchMembers">
            </div>
            <div class="form-watchParty">
                <label for="members">Edit Members</label>
                <select id="members" name="members" class="form-control" multiple="multiple" th:field="*{watchparty.members}">
                    <th:block th:each="member : ${watchparty.members}">
                        <option name="members" th:value="${member.id}" th:text="${member.name}" checked></option>
                    </th:block>
                </select>
            </div>
        </th:block>

        <th:block th:unless="${user.profile == watchparty.leader}">
            <input class="form-control" type="hidden" th:field="${watchparty.name}" />
            <div class="form-watchParty">
                <h2 th:text="${watchparty.name}"></h2>
                <p>
                    Members:
                    <ul>
                        <th:block th:each="member : ${watchparty.members}">
                            <li th:text="${member.name}"></li>
                        </th:block>
                    </ul>
                </p>
            </div>
        </th:block>


        <div class="form-watchParty pt-2">
            <label for="searchMovies">Search Movies</label>
            <input type="text" name="searchMovies" id="searchMovies">
        </div>
        <div class="form-watchParty">
            <label for="movies">Edit Movies</label>
            <select id="movies" name="movies" class="form-control" multiple="multiple" th:field="*{watchparty.movies}">
                <th:block th:each="movie : ${watchparty.movies}">
                    <option name="movies" th:value="${movie}" th:text="'Movie ' + ${movie}" checked></option>
                </th:block>
            </select>
        </div>

        <input type="submit" value="Submit Edits" />
    </form>
    <a th:href="'/watchparty/' + ${watchparty.id}">Return to Watch Party</a>
</main>
</body>
</html>